body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-container {
    flex: 1;
    overflow-y: auto;
    padding-top: 56px; /* Adjust based on the navbar's height */
    padding-bottom: 56px; /* Adjust for bottom navbar */
    color: white; /* For contrast */
}

.navbar {
    z-index: 1; /* Ensures navbars are above the chat content */
}

.button-group {
    display: flex; /* This will ensure that child elements (the buttons) are placed side by side */
    justify-content: center; /* This centers the buttons in the div if you want */
    align-items: center; /* This aligns the buttons vertically in the center */
}

.form-control {
    flex-grow: 1;
    margin-right: 8px; /* Adjust spacing between textfield and button */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 576px) {
    .form-inline input {
        width: 75%;
    }
    .form-inline button {
        width: 20%;
    }
}

.btn.btn-outline-success, .btn-outline-success {
    color: #fff;
    background-color: transparent;
    border-color: #28a745;
    flex-grow: 0; /* Prevent the button from growing */
    margin: 0 5px; /* Adjust spacing around the button */
}

.fas {
    font-size: 18px;
}

.navbar.fixed-bottom .form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.my-message {
    margin-left: auto;
    background-color: #007bff;
    color: white;
}

.other-message {
    margin-right: auto;
    background-color: #e9ecef;
    color: black;
}

